body{
    margin: 0;
    min-width: 679px;
    max-width: 679px;


    
}

.landingBody {

 margin: 0;
 width: 100vw;
 height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
}

.land-container {
    height: fit-content;
    width: fit-content;
    padding: 3rem;
    background-color: white;
}
#insta{
    text-align: center;
    font-family: "Playwrite+GB+S", serif;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 200px;
}


.input{
    height: 2rem;
    width: auto;
    padding-left: .5rem;
}
#user {
    
}


#landingbut{
    height: 2rem;
    width: auto;
    margin-top: .5rem;
    background-color: #4cb6f9 ;
    color: white;
    border-radius: 10px;
    border: none;
    padding: .5rem;
}

.feed-body {
    max-width: 479px;
margin: 0;
background-color: black;
margin: auto;
display: flex;
flex-direction: column;
}



.topNav{
 height: 4rem;
 color: white;
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 position: sticky;
 align-items: center;
}
#feedInsta {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.75rem;
    font-weight: 300;
}
.icons{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
color: white;
}

.material-symbols-outlined{
color: white;
margin-right: 3rem;
}

.feed{
  height: fit-content;
}

.post {

    /* border: 5px solid white ; */
}

.userPost{
}

.post-Info{
    display: flex;
    justify-content:center ;
}


.userInfo{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height:5rem;
    color: white;
    border: 1px solid rgb(43, 43, 43);
    padding-left: 1rem;


}

 .userInfoMain {
        display: flex;
        height: 100%;
    }


.postUser {
    font-weight: 100;
    font-size: 1.30em;
    margin-bottom: -.30rem;


}
#userPhoto{
    scale: .65;
    border-radius: 50%;
    margin-right: 1rem;
}

.postSong{
    font-weight: 100;
    font-size: .9rem;
    font-weight: 100;
}

.Options{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 100%;
}

#opts{
    font-size: 2.5rem;
    height: fit-content;
}
.content{
    display: flex;
    justify-content:center ;
    width: 100%;
}
#postPic{
    width: 325px
}

.postIcon{
    min-width: 100%;
}

.bottomNav{
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.bNavContainer {
    width: 90%;
    margin: auto;
}

.bPostInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top:  -1rem;

}

#likes{
    font-size: 1rem;
    font-weight: 800;
    margin-top: -.15rem;

}


#bNavUser{
    margin-right: 5px;
    font-weight: 600;
}

#bNavComments{
    color: #9f9b9b;
    margin-top: -.25rem;
}

.accTopNav{
    height: 4rem;
    min-width: 579px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    border: 1px solid #eeeaea;
}

.accTopNavButtons {
    margin-right: 2rem;
}
#accLogIn{
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0095f6;
    font-size: 1rem;
}

#accSignUp {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #0095f6;
}

.userBio{
    font-family: sans-serif;

}
.userBioInteract {
    width: 90%;
    margin: auto;
}

.userBioInteract {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.userBioInteract img {
    width: 7.5rem;
    height: 7.5rem;
    align-self: self-end;
}
.accUser {
    width: 70%;

}
.accUser p {
    font-size: 2rem;
    font-weight: 100;
}
.accUserButtons {
    width: 100%;
}

.accUserButtons button {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}


.userBioContent{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.userBioContent h2{
    font-size: 1.15rem;
    font-weight: 550;
    height: fit-content;
}

.userBioContent p{
    font-size: 1rem;
    font-weight: 300;
margin-top: -.5rem;
margin-bottom: .5rem;}

.userBioContent a{
    color: rgb(29, 64, 113);
    font-size: 1rem;
    font-weight: 650;
}

.userbioStories{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;

}

.story {
    height: 100px;
    width:100px;
    background-color: rgb(44, 19, 170);
    margin-left: 1rem;
    border-radius: 50%;
    border: 5px solid rgb(228, 228, 228);
}

.userBioStatTable {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
border: 3px solid #eeeaea;
}
#statListItem{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-items: start;
}


#statListItem p {
    height: fit-content;
    width: fit-content;
}

#UserBioStat{
    font-size: 1.25rem;
    margin-bottom: -.75rem;
}

#userBioStatLabel {
    color: #b2b1b1;
    font-size: 1.25rem;
}

.accUserPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -.90rem;
    
}

.accPost{
    width: 33%;
    height: 300px;
    background-color: rgb(44, 19, 170);
    margin-right: 1px;
    margin-bottom: 5px;
}

.joinmultiverse{

}