body{
    margin: 0;
    
}

.landingBody {

 margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}

.land-container {
    height: fit-content;
    width: fit-content;
    padding: 3rem
}
#insta{
    text-align: center;
    font-family: "Playwrite+GB+S", serif;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 200px;
}


.input{
    height: 2rem;
    width: auto;
    padding-left: .5rem;
}
#user {
    
}


#landingbut{
    height: 2rem;
    width: auto;
    margin-top: .5rem;
    background-color: #4cb6f9 ;
    color: white;
    border-radius: 10px;
    border: none;
    padding: .5rem;
}

.feed-body {
margin: 0;
background-color: black;
min-width: 469px;
max-width: 470px;
height: 100%;
margin: auto;
display: flex;
flex-direction: column;
}



.topNav{
 height: 2rem;
 color: white;
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 position: sticky;
 align-items: center;
}
#feedInsta {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.75rem;
    font-weight: 300;
}
.icons{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
color: white;
}

.material-symbols-outlined{
color: white;
margin-right: 3rem;
}

.feed{
    /* border: 3px solid grey ; */
    /* height: 100vh; */
}

.post {
    height: 100%;

    /* border: 5px solid white ; */
}

.userPost{
}


.userInfo{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height:5rem;
    color: white;
    border: 1px solid rgb(43, 43, 43);
    padding-left: 1rem;
    max-width: 468px;


}

 .userInfoMain {
        display: flex;
        height: 100%;
    }


.postUser {
    font-weight: 100;
    font-size: 1.30em;
    margin-bottom: -.30rem;


}
#userPhoto{
    scale: .65;
    border-radius: 50%;
    margin-right: 1rem;
}

.postSong{
    font-weight: 100;
    font-size: .9rem;
    font-weight: 100;
}

.Options{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 100%;
}

#opts{
    font-size: 2.5rem;
    height: fit-content;
}
.content{
    display: flex;
    justify-content:center ;
    width: 100%;
}
#postPic{
    width: 325px
}

.postIcon{
    min-width: 100%;
}

.bottomNav{
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.bNavContainer {
    width: 90%;
    margin: auto;
}

.bPostInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top:  -1rem;

}

#likes{
    font-size: 1rem;
    font-weight: 800;
    margin-top: -.15rem;

}


#bNavUser{
    margin-right: 5px;
    font-weight: 600;
}

#bNavComments{
    color: #9f9b9b;
    margin-top: -.25rem;
}

.accTopNav{
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    border: 1px solid #eeeaea;
}

.accTopNavButtons {
    margin-right: 2rem;
}
#accLogIn{
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0095f6;
    font-size: 1rem;
}

#accSignUp {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #0095f6;
}

.userBio{
    font-family: sans-serif;
    padding-bottom:3rem;


}
.userBioInteract {
    width: 90%;
    margin: auto;
}

.userBioInteract {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.userBioInteract img {
    width: 7.5rem;
    height: 7.5rem;
    align-self: self-end;
}
.accUser {
    width: 70%;

}
.accUser p {
    font-size: 2rem;
    font-weight: 100;
}
.accUserButtons {
    width: 100%;
}

.accUserButtons button {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
   
}